numpy==1.23.5
tensorflow-cpu==2.13.0
mediapipe==0.10.5
opencv-python-headless==4.7.0.72
matplotlib==3.7.1
flask==2.2.5
flask-socketio==5.3.6
flask-cors==4.0.0
python-socketio==5.9.0
python-engineio==4.7.1
gevent==22.10.2
gevent-websocket==0.10.1
gunicorn==21.2.0
pymongo==3.13.0
python-dotenv==1.0.0
protobuf==3.20.3 